<div class="affiliate-card">
  <img src="{{image}}" alt="{{name}}" width="140" height="140" loading="lazy">
  <div>
    <h3>{{name}}</h3>
    <p>{{description}}</p>
    <a class="btn btn-accent" href="https://www.amazon.com/dp/{{asin}}?tag={{amazonTag}}" rel="sponsored noopener nofollow" target="_blank">{{icon "cart"}} Check Price on Amazon</a>
    <p class="affiliate-disclosure">As an Amazon Associate, we earn from qualifying purchases.</p>
  </div>
</div>
