<a class="card" href="{{url}}">
  <img src="{{image}}" alt="{{imageAlt}}" loading="lazy" width="400" height="300">
  <div class="card-body">
    {{#if tag}}<span class="card-tag">{{tag}}</span>{{/if}}
    <h3>{{title}}</h3>
    <p>{{excerpt}}</p>
  </div>
</a>
