<div class="author-box">
  <img src="{{photo}}" alt="{{name}}" width="64" height="64" loading="lazy">
  <div>
    <h3>About the Author: {{name}}</h3>
    <p><strong>{{title}}</strong></p>
    <p>{{bio}}</p>
  </div>
</div>
